html {
    background-color: #FFFFFF;
}

body {
   position: relative;
   display: block;
   margin: auto; 
}

h1 {
    color: #EECBCA;
    font-family: 'Reenie Beanie', cursive;
    font-size: 6em;
    font-weight: 400;
    line-height: 1em;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 5em;
    color: #333232;
}

h3 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 3em;
    font-weight: 400;
}

p {
    color: #333232;
    font-family: 'Playfair Display', serif;
    font-size: 0.9em;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #333232;
}

label {
    color: #333232;
    font-family: 'Playfair Display', serif;
    font-size: 0.9em;
    font-weight: 400;
}

.header {
    text-align: center;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 1em;
}

.titel {
    margin: auto;
    padding: 0;
    position: relative;
    width: 100%;
    text-decoration: none;
    color: #333232;
}

.knoppen {
    position: relative;
    text-decoration: none;
    color: #333232;
    margin: auto;
    float: center;
    position: relative;
}

/* The Modal (background) */
.modal, .registerModal, .blogModal, .headerModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #33323283;
    filter: blur(0px);
  }

  /* Modal Content/Box */
  .modal-content, .modal-content-register, .modal-content-blog, .modal-content-header {
    background-color: #F8ECEB;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 30vw; /* Could be more or less, depending on screen size */
    text-align: center;
  }
  
  /* The Close Button */
  .inlogclose, .registerclose, .blogclose, .headerclose{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .inlogclose:hover, .registerclose:hover, .inlogclose:focus, .registerclose:focus
  .blogclose:hover, .blogclose:focus, .headerclose:hover, .headerclose:focus {
    color: #333232;
    text-decoration: none;
    cursor: pointer;
  }

input[type="text"], input[type="password"] {
    background-color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    border: #333232 1px solid;
}

input[type="submit"] {
    background-color: #EECBCA;
    width: 15em;
    height: 3em;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #333232;
    border: none;
}
/* styling van de header blog */

.headerblog {
    width: 80%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.bgheaderblog {
    background-color: #EECBCA;
    width: 85vw;
    height: 60vh;
    max-height: 65vh;
    position: relative;
}

.headerwrapper {
    max-height: 60vh;
    margin-top: -4em;
}

.headertitle{
    color: #333232;
    padding-right: 1em;
}

.headerimg {
    max-height: 65vh;
    padding: 3em 0.5em 0.5em 1em;
    margin-right: 1em;
}
/* styling van de blog */

.blogcontainer {
    display: grid;
    margin-top: 8em;
    grid-template-rows: 1fr;
}

/* styling van de blog entries */

.blog {
    border-bottom: 1px solid #333232;
    width: 60%;
    position: relative;
    margin: auto;
    margin-top: 2em;
}

.info {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
}

.title{
    text-align: center;
}

.blogimg {
    width: 35em;
    max-height: 60%;
    position: relative;
}

/* Zorgen dat de afbeelding verspringt */

.imgleft {
    order: 0;
    float: center;
}

.wrapperright {
    order: 1;
}

.wrapperleft {
    order: 0;
}

.imgright {
    order: 1;
    float: center;
}

.content {
    position: relative;
}